/*----My style.css-------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;

  background-color: #849d8f;
  background-image: url("../img/index/layer1.png");
  background-size: 1060px 820px;
  background-repeat: no-repeat;
  background-position: top center;
}
a {
  color: white;
  text-decoration: underline;
}
.wrap-center,
.wrap-center-foo,
.wrap-center-head {
  width: 1200px;
  margin: auto;
}
.button-site {
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 15px 25px;
  border-radius: 35px;
}
.button-site:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button-site:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*------Header-------*/
.wrap-center-head {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main-navigation-list,
.hidden-menu,
.right-nav-case,
.login-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-navigation,
.right-nav-case {
  margin-top: 30px;
}
.main-navigation {
  width: 700px;
  margin-left: 7px;
}
.main-navigation-items > a {
  display: block;
  margin-right: 25px;
  padding: 7px 15px;
}
.main-navigation-items a {
  text-decoration-color: #a1b6aa;
}
.main-navigation-items:first-of-type {
  position: relative;
}
.hidden-menu {
  display: none;
  position: absolute;
  bottom: -190px;
  width: 145px;
  min-height: 170px;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 2;
}
.main-navigation-items:hover .hidden-menu,
.main-navigation-items:focus .hidden-menu {
  display: block;
}
.hidden-menu a {
  display: block;
  color: black;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 15px;
}
.hidden-menu-item {
  width: 100%;
  min-height: 30px;
}
.hidden-menu-item:hover,
.hidden-menu-item:focus {
  background-color: #ffcccc;
}
.hidden-menu-item:active {
  background-color: #f6b5a5;
}
.hidden-menu-item:first-of-type {
  border-bottom: 1px solid #d1d0ce;
}
.hidden-menu-item:first-of-type a {
  font-weight: bold;
}
.site-logo {
  margin-top: 10px;
  height: 66px;
}
.wrap-center-head {
  display: flex;
}
.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
}
.right-nav-case {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.right-nav-case-item > a {
  padding: 10px 20px;
  background-color: #9db1a5;
  border-radius: 25px;
  margin-left: 10px;
  text-decoration: none;
  position: relative;
}
.right-nav-case-item > a:hover,
.right-nav-case-item > a:focus {
  background-color: white;
  color: black;
}
.right-nav-case-item:first-of-type svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
}
.search:hover path,
.search:focus path {
  fill: black;
}
.right-nav-case-item:first-of-type:hover .search-wrap,
.right-nav-case-item:first-of-type:focus .search-wrap {
  display: block;
}
.right-nav-case-item:nth-of-type(2):hover .hidden-login,
.right-nav-case-item:nth-of-type(2):focus .hidden-login {
  display: block;
}
.right-nav-case-item:nth-of-type(2) > a {
  padding-left: 45px;
}
.right-nav-case-item:nth-of-type(2) svg {
  position: absolute;
  top: 7px;
  left: 17px;
}
.enter:hover path,
.enter:focus path {
  fill: black;
}
.hidden-login {
  top: 35px;
  left: -170px;
  width: 280px;
  min-height: 215px;
  background-color: #f8f7f4;
  border-radius: 5px;
}
.hidden-login-fill {
  width: 242px;
  height: 175px;
  margin: 20px;
}
.hidden-menu-button,
.login-list {
  display: inline-block;
  vertical-align: top;
}
.hidden-login p {
  width: 242px;
  margin: 0;
  margin-bottom: 20px;
}
.hidden-login input {
  width: 220px;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  padding: 10px 10px;
}
.hidden-login button {
  border: none;
  color: white;
  padding: 12px 25px;
  cursor: pointer;
}
.hidden-login a {
  display: block;
  color: black;
  font-family: inherit;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 20px;
}
.right-nav-case-item:last-of-type > a {
  padding-left: 45px;
  padding-right: 35px;
}
.right-nav-case-item:last-of-type svg {
  position: absolute;
  top: 7px;
  left: 17px;
}
.cart:hover path,
.cart:hover circle,
.cart:focus path,
.cart:focus circle {
  fill: black;
}
.main-navigation-items > a:hover,
.main-navigation-items > a:focus {
  background-color: white;
  color: black;
  padding: 7px 15px;
  border-radius: 25px;
  text-decoration: none;
}
.main-navigation-items > a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 3px 3px rgba(105, 105, 105, 0.004);
}
.right-nav-case-item {
  position: relative;
}
.hidden-login,
.search-wrap {
  position: absolute;
}
.search-wrap,
.hidden-login,
.main-cart,
.hidden-menu {
  display: none;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.4);
}
.search-wrap {
  left: -300px;
  top: 35px;
  width: 345px;
  height: 85px;
  background-color: #f8f7f4;
  border-radius: 5px;
}
.search-wrap input {
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 10px 14px;
  margin: 21px 17.5px;
  width: 310px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}
.number {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}
/*-------Main-content-----*/
.main-slider {
  width: 1200px;
  height: 490px;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 0;
}
.main-slider .number,
.main-slider .slider-button {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.main-slider .number {
  margin-top: 10px;
  font-size: 22px;
  line-height: 24px;
}
.main-slider .slider-button {
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
}
.main-slider h2 {
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  width: 670px;
}
.main-number {
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}
.main-number p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.main-baner {
  display: flex;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: space-between;
}
.main-baner h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 20px;
  font-size: 35px;
  line-height: 41px;
}
.main-baner p {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  font-size: 18px;
  line-height: 22px;
}
.main-baner .button-sale {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 20px;
  float: right;
  margin-top: 45px;
  margin-right: 22px;
}
.baner-sale-jam,
.baner-sale-chocolate {
  width: 560px;
  min-height: 230px;
  border-radius: 15px;
}
.baner-sale-jam a,
.baner-sale-chocolate a {
  text-decoration: none;
}
.main-baner .baner-sale-jam {
  background-color: #9b0020;
  background-image: url("../img/index/raspberries-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-baner .baner-sale-chocolate {
  background-color: #805237;
  background-image: url("../img/index/chocolate-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-acecream-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: space-between;
}
.main-acecream-item {
  position: relative;
  width: 267px;
  min-heigth: 217px;
  text-align: center;
}
.main-acecream-item::before {
  content: "";
  width: 62px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/svg-gllacy/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-acecream-item .main-acecream-price {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 75px;
  left: 0px;
}
.main-acecream img {
  border-radius: 50%;
}
.main-acecream-item .main-acecream-price {
  font-size: 45px;
  line-height: 45px;
}
.main-acecream-item span {
  font-size: 30px;
  line-height: 45px;
}
.main-acecream-item a {
  font-weight: 500;
}
/*------About-us-------*/
.about-us {
  background-color: #e8dcc2;
  background-image: url("../img/index/wafer.jpg");
  color: black;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 15px;
}
.about-us h3 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.about-us-wrap {
  display: flex;
  flex-wrap: wrap;
}
.about-us-wrap p {
  padding: 0;
  margin: 0;
  margin-left: 75px;
  width: 485px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 30px;
  position: relative;
}
.about-us-wrap p:nth-of-type(1) {
  /*первый блок*/
  order: 1;
}
.about-us-wrap p:nth-of-type(2) {
  /*третий блок*/
  order: 3;
}
.about-us-wrap p:nth-of-type(3) {
  /*второй блок*/
  order: 2;
}
.about-us-wrap p:nth-of-type(4) {
  /*четвертый блок*/
  order: 4;
}
.about-us-wrap p::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  left: -60px;
  top: -10px;
}
.about-us-wrap p:nth-of-type(1)::before {
  background-image: url("../img/svg-gllacy/ice-cream.svg");
  background-position: 0 0;
}
.about-us-wrap p:nth-of-type(2)::before {
  background-image: url("../img/svg-gllacy/eco.svg");
  background-position: 0 0;
}
.about-us-wrap p:nth-of-type(3)::before {
  background-image: url("../img/svg-gllacy/cow.svg");
  background-position: 0 0;
}
.about-us-wrap p:nth-of-type(4)::before {
  background-image: url("../img/svg-gllacy/thermometer.svg");
  background-position: 0 0;
}
.news-blog {
  display: flex;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: space-between;
}
.news-blog-last-news {
  background-color: white;
  background-image: url("../img/index/last-news.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
}
.news-blog-last-news a {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  width: 285px;
  color: black;
  font-size: 24px;
  line-height: 30px;
}
.news-blog-last-news p {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #5a5a5a;
}
.main-dispach p {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 40px;
  width: 509px;
  color: #5a5a5a;
  font-weight: 500;
}
.main-dispach {
  display: flex;
  background-image: repeating-linear-gradient(135deg,white 2px, white 2px,#92cdff 2px, #92cdff 10px, white 10px, white 18px,
  #fe9e90 18px, #fe9e90 26px, white 26px, white 34px );
  width: 560px;
  height: 220px;
  border-radius: 15px;
}
.main-dispach-wrap {
  width: 550px;
  height: 210px;
  background-color: #f8f7f4;
  margin: auto;
  border-radius: 15px;
}
.main-dispach-email {
  display: block;
  margin: 0 10px;
}
.main-dispach-email input {
  font: inherit;
  font-weight: 400;
  width: 367px;
  padding: 10px 12px;
  margin-right: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}
.main-dispach-email button {
  border: 0;
  color: white;
  padding: 10px 20px;
}
.main-map-adress {
  position: relative;
  width: 1200px;
  margin: auto;
  height: 430px;
  background-image: url("../img/index/index-map.jpg");
}
.main-feedback {
  position: absolute;
  right: 27px;
  bottom: 40px;
  background-color: white;
  width: 300px;
  min-height: 305px;
  border-radius: 15px;
}
.main-feedback-wrap {
  margin: 25px;
}
.main-feedback p {
  color: #5a5a5a;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 0;
  margin: 10px 0;
}
.main-feedback .feedback-bold {
  margin: 10px 0;
  color: black;
  font-size: 18px;
  line-height: 24px;
}
.main-feedback-wrap p {
  margin-bottom: 25px;
}
.main-feedback a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0 24px;
  margin-top: 25px;
  padding: 10px 27px;
  text-decoration: none;
}
/*-----Footer------*/
.wrap-center-foo {
  display: flex;
  width: 1150px;
  min-height: 40px;
  margin:auto;
  margin-top: 40px;
}
.main-social-list,
.footer-information-list,
.footer-document-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-social-list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
.main-social-item {
  width: 40px;
  height: 40px;
}
.main-social-item:not(:first-of-type) {
  margin-left: 15px;
}
.main-social-item a {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3.5px solid #c2cec7;
}
.main-social-item a:active {
  border: 3.5px solid #e9e9e9;
}
.social-button:hover path,
.social-button:focus path {
  fill: white;
}
.social-button:active path {
  fill: #e9e9e9;
}
.main-social-list li {
  width: 40px;
  height: 40px;
}
.footer-information-list {
  text-align: left;
  margin-right: 25px;
  position: relative;
}
.footer-information-list li:first-of-type::before {
  content: "";
  width: 15px;
  height: 13px;
  position: absolute;
  top: 2px;;
  left: -18px;
  background-image: url("../img/svg-gllacy/heart.svg");
}
.footer-document-list {
  padding-left: 5px;
}
.footer-document-list {
  padding-left: 0;
}
.copyright-footer {
  position: relative;
  margin-left: auto;
}
.copyright-footer::before {
  content: "";
  width: 110px;
  height: 38px;
  position: absolute;
  top: -40px;
  left: 0px;
  background-image: url("../img/svg-gllacy/logo-htmlacademy.svg");
}
/*--------Modal-------*/
.modal-feedback p {
	color: black;
}
.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
}
/*------Gllacy-catalog------*/
.gl-catalog {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;

  background-color: #849d8f;
  background-image: none;
}
.main-page-navigation {
  display: flex;
  align-items: flex-end;
}
.page-navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: 400;
  font-size: 14px;
}
.page-navigation-item a:hover,
.page-navigation-item a:focus {
  background-color: white;
  color: black;
  text-decoration: none;
}
.page-navigation-item:last-of-type a {
  text-decoration: none;
}
.catalog-number {
  margin-left: auto;
  text-align: right;
}
.catalog-number p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
.catalog-number p:first-of-type {
  margin-bottom: 10px;
}
.right-nav-case-item:last-of-type:hover .main-cart,
.right-nav-case-item:last-of-type:focus .main-cart {
  display: block;
}
.main-cart {
  display: none;
  position: absolute;
  width: 540px;
  height: 250px;
  left: -385px;
  top: 34px;
  background-color: #f8f7f4;
  border-radius: 5px;
}
.main-cart-fill {
  width: 514px;
  height: 114px;
  margin-top: 20px;
  margin-left: 13px;
  margin-right: 13px;
  border-bottom: 1px solid #cacac7;
}
.main-cart-list {
  position: relative;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  min-height: 35px;

  display: flex;
}
.main-cart-item:first-of-type {
  width: 217px;
  margin-left: 75px;
}
.main-cart-item::before {
  position: absolute;
  top: -10px;
  left: 26px;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.main-cart-list:first-of-type .main-cart-item:first-of-type::before {
  background-image: url("../img/gllacy-catalog/block1.jpg");
  background-size: cover;
}
.main-cart-list:nth-of-type(2) .main-cart-item:first-of-type::before {
  background-image: url("../img/gllacy-catalog/block3.jpg");
  background-size: cover;
}
.main-cart-item:nth-of-type(2) {
  width: 115px;
  margin-left: 30px;
}
.main-cart-item:nth-of-type(3) {
  width: 65px;
  margin-left: 14px;
}
.main-cart-list .main-cart-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.main-cart-item .main-cart-span {
  color: #5a5a5a;
}
.cart-wrap {
  display: flex;
  flex-direction: column;
}
.main-cart p,
.main-cart a {
  margin: 0;
  margin-right: 15px;
  margin-left: auto;
  margin-top: 15px;
}
.main-cart p {
  color: black;
}
.main-cart a {
  text-decoration: none;
  padding: 10px 15px;
  margin-left: auto;
  font-size: 18px;
  line-height: 24px;
}
.cart-close {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5,5px;
  left: 0px;
  font-size: 0;
  border: 0;
  background: none;
}
.cart-close::before,
.cart-close::after {
  position: absolute;
  content:"";
  cursor: pointer;
  background-color: #231f20;
  width: 12px;
  height: 2px;
  margin-left: -6px;
}
.cart-close::before {
  transform: rotate(45deg);
}
.cart-close::after {
  transform: rotate(-45deg);
}
.main-filter {
  margin-bottom: 40px;
}
.filter-sorting {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.filter-sorting .sorting-group-one,
.filter-sorting .sorting-group-two {
  display: flex;
  font-size: 16px;
  line-height: 18px;
}
.main-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-price-list p {
  font-size: 45px;
  line-height: 13px;
}
.main-price-list a {
  font-weight: 500;
}

.main-price-item {
  position: relative;
  width: 270px;
  height: 317px;
  text-align: center;
  margin-bottom: 40px;
}
.main-price-item p {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0px;
  bottom: 75px;
}
.main-price-item img {
  border-radius: 50%;
}
.main-paginator {
  width: 100%;
  margin-top: 80px;
}
.main-paginator-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-paginator-list a:hover,
.main-paginator-list a:focus {
  color: black;
  background-color: white;
}
.main-paginator-item:first-of-type a {
  text-decoration: none;
}
.footer-information-list,
.footer-document-list,
.copyright-footer {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.footer-information-list li:first-of-type {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
