/*----My style.css-------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;

  background-color: #849d8f;
  background-image: url("../img/index/layer1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
a {
  color: white;
  text-decoration: underline;
}
.wrap-center,
.wrap-center-foo,
.wrap-center-head {
  width: 1200px;
  margin: auto;
}
.button-site {
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 15px 25px;
  border-radius: 35px;
}
/*------Header-------*/
.wrap-center-head {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main-navigation-list,
.hidden-menu,
.right-nav-case,
.login-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-navigation,
.right-nav-case {
  margin-top: 30px;
}
.main-navigation {
  width: 700px;
}
.main-navigation {
  margin-left: 7px;
}
.main-navigation-items > a {
  display: block;
  margin-right: 25px;
  padding: 7px 15px;
}
.main-navigation-items a {
  text-decoration-color: #a1b6aa;
}

.site-logo {
  margin-top: 10px;
  height: 66px;
}
.wrap-center-head {
  display: flex;
}
.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
}
.right-nav-case {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.right-nav-case-item a {
  padding: 10px 20px;
  background-color: #9db1a5;
  border-radius: 25px;
  margin-left: 10px;
  text-decoration: none;
  position: relative;
}
.right-nav-case-item a:hover,
.right-nav-case-item a:focus {
  background-color: white;
  color: black;
}
.right-nav-case-item:first-of-type svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11px;
  margin-top: -11px;
}
.search:hover path,
.search:focus path{
  fill: black;
}
.right-nav-case-item:nth-of-type(2) a {
  padding-left: 45px;
}
.right-nav-case-item:nth-of-type(2) svg {
  position: absolute;
  top: 7px;
  left: 17px;
}
.enter:hover path,
.enter:focus path {
  fill: black;
}
.right-nav-case-item:last-of-type a {
  padding-left: 45px;
  padding-right: 35px;
}
.right-nav-case-item:last-of-type svg {
  position: absolute;
  top: 7px;
  left: 17px;
}
.cart:hover path,
.cart:hover circle,
.cart:focus path,
.cart:focus circle {
  fill: black;
}
.main-navigation-items > a:hover,
.main-navigation-items > a:focus {
  background-color: white;
  color: black;
  padding: 7px 15px;
  border-radius: 25px;
  text-decoration: none;
}
.main-navigation-items a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 3px 3px rgba(105, 105, 105, 0.004);
}
.hidden-menu {
  display: none;
}
.right-nav-case-item form,
.hidden-login {
  display: none;
}
.number {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}
/*-------Main-content-----*/
.main-slider {
  width: 1200px;
  height: 490px;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.main-slider a {
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
}
.main-slider h2 {
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  width: 670px;
}
.main-number {
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}
.main-number p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
.main-baner {
  display: flex;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: space-between;
}
.main-baner h3 {
  font-size: 35px;
  line-height: 41px;
}
.main-baner p,
.main-baner a {
  font-size: 18px;
  line-height: 22px;
}
.baner-sale-jam,
.baner-sale-chocolate {
  width: 560px;
  min-height: 230px;
  border-radius: 15px;
}
.baner-sale-jam a,
.baner-sale-chocolate a {
  text-decoration: none;
}
.main-baner .baner-sale-jam {
  background-color: #9b0020;
  background-image: url("../img/index/raspberries-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-baner .baner-sale-chocolate {
  background-color: #805237;
  background-image: url("../img/index/chocolate-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.main-acecream-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: space-between;
}
.main-acecream-item {
  position: relative;
  width: 267px;
  min-heigth: 217px;
  text-align: center;
}
.main-acecream-item .main-acecream-price {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 75px;
  left: 0px;
}
.main-acecream img {
  border-radius: 50%;
}
.main-acecream-item .main-acecream-price {
  font-size: 45px;
  line-height: 45px;
}
.main-acecream-item span {
  font-size: 30px;
  line-height: 45px;
}
.main-acecream-item a {
  font-weight: 500;
}
/*------About-us-------*/
.about-us {
  background-color: #e8dcc2;
  background-image: url("../img/index/wafer.jpg");
  color: black;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 15px;
}
.about-us-wrap {
  display: flex;
  flex-wrap: wrap;
  color: #5a5a5a;
}
.about-us-wrap p {
  font-weight: 500;
}
.news-blog {
  display: flex;
  width: 1150px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: space-between;
}
.news-blog-last-news {
  background-color: white;
  background-image: url("../img/index/last-news.jpg");
  background-repeat: no-repeat;
  background-position: center;
  color: black;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
}
.news-blog-last-news a {
  color: black;
  font-size: 24px;
  line-height: 30px;
}
.news-blog-last-news p {
  color: #5a5a5a;
}
.main-dispach p {
  color: #5a5a5a;
  font-weight: 500;
}
.main-dispach {
  display: flex;
  background-image: repeating-linear-gradient(140deg,white 2px,#92cdff 2px, #92cdff 10px, white 10px, white 20px,
  #fe9e90 20px, #fe9e90 30px, white 30px, white 40px );
  width: 560px;
  height: 220px;
  border-radius: 15px;
}
.main-dispach-wrap {
  width: 550px;
  height: 210px;
  background-color: #f8f7f4;
  margin: auto;
  border-radius: 15px;
}
.main-map-adress {
  width: 1200px;
  margin: auto;
  height: 430px;
  background-image: url("../img/index/index-map.jpg");
}
.main-feedback {
  background-color: white;
  width: 300px;
  min-height: 305px;
  border-radius: 15px;
}
.main-feedback p {
  color: #5a5a5a;
  font-size: 14px;
  line-height: 20px;
}
.main-feedback span {
  color: black;
}
.main-feedback a {
  text-decoration: none;
}
/*-----Footer------*/
.wrap-center-foo {
  display: flex;
  width: 1150px;
  min-height: 40px;
  margin:auto;
  margin-top: 40px;
}
.main-social-list,
.footer-information-list,
.footer-document-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 267px;
}
.footer-information-list {
  text-align: right;
  padding-right: 25px;
}
.footer-document-list {
  padding-left: 5px;
}
.copyright-footer {
  margin-left: auto;
}
.main-social-list {
  display: flex;
}
.main-social-list li {
  width: 40px;
  height: 40px;
}

.footer-document-list {

}

/*--------Modal-------*/
.modal-feedback p {
	color: black;
}
.modal-feedback input,
.modal-feedback textarea {
  font: inherit;
}
/*------Gllacy-catalog------*/
.gl-catalog {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;

  background-color: #849d8f;
  background-image: none;
}
.main-page-navigation {
  display: flex;
  align-items: flex-end;
}
.page-navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-weight: 400;
  font-size: 14px;
}
.page-navigation-item a:hover,
.page-navigation-item a:focus {
  background-color: white;
  color: black;
  text-decoration: none;
}
.page-navigation-item:last-of-type a {
  text-decoration: none;
}
.catalog-number {
  margin-left: auto;
  text-align: right;
}
.catalog-number p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}
.catalog-number p:first-of-type {
  margin-bottom: 10px;
}
.main-cart-list {
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-cart-list li {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
li .main-cart-span {
  color: #5a5a5a;
}
.main-cart p {
  color: black;
}
.main-cart{
  background-color: #f8f7f4;
}
.main-filter {
  margin-bottom: 40px;
}
.filter-sorting {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.filter-sorting .sorting-group-one,
.filter-sorting .sorting-group-two {
  display: flex;
  font-size: 16px;
  line-height: 18px;
}
.main-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-price-list p {
  font-size: 45px;
  line-height: 13px;
}
.main-price-list a {
  font-weight: 500;
}

.main-price-item {
  position: relative;
  width: 270px;
  height: 317px;
  text-align: center;
  margin-bottom: 40px;
}
.main-price-item p {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0px;
  bottom: 75px;
}
.main-price-item img {
  border-radius: 50%;
}
.main-paginator {
  width: 100%;
  margin-top: 80px;
}
.main-paginator-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-paginator-list a:hover,
.main-paginator-list a:focus {
  color: black;
  background-color: white;
}
.main-paginator-item:first-of-type a {
  text-decoration: none;
}
.footer-information-list,
.footer-document-list,
.copyright-footer {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.footer-information-list li:first-of-type {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
